@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@600&display=swap');
body{
  background-image: url(https://i.pinimg.com/564x/75/bb/25/75bb2540920c666276a0ba378946402d.jpg);
 }
button {
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border: none;
    font-size: 1rem;
    color: #000;
    font-weight: bold;
    background-color: rgb(243, 196, 109);
    border-radius: 1.5rem;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    cursor: pointer;
}

.new_color{
  background-color: orange;
}



.full {
  min-height: 100vh;
}

button {
  align-items: center;
  justify-content: center;
}


span{
  color: orange;
}

.lista {
  text-align: center;
  justify-content: center;
  padding-top: 50px;
  padding-right: 11px;
  padding-bottom: 50px;
  padding-left: 10px;
}



.v-align {
  padding: 5vh 0;
  justify-content: center;
  text-align: center;
}

.header {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  justify-content: center;
}

.mat-toolbar.mat-primary {
  border: 1px solid #3a3a3a;
  justify-content: center;
  text-align: center;
  background: blue;
  color: #fff;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}

.example-spacer {
  flex: 1 1 auto;
}

img {
  margin-bottom: 10px;
  border-radius: 5%;
  border: 2px solid blue;

}


.caracteristicas {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-justify: inter-word;
  text-align: justify;

}

mat-card {
  margin-top: 10px;
  margin-bottom: 10px;
}

.contenido {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: justify;
  text-justify: inter-word;

}

.login {
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  border: 3px solid #000000;
  background: rgb(255, 167, 95);
  background: linear-gradient(0deg, rgb(223, 221, 221) 0%, rgb(223, 221, 221) 100%);
  padding-top: 50px;
  padding-bottom: 50px;
}