@media screen and (max-width: 755px) {
  .check_b {
    display: inline-flex;
  }

  .nav-bar .l-menu {
    display: none;
    position: absolute;
    flex-direction: column;
    gap: 2vw;
    width: 100%;
    height: auto;
    background-color: var(--color-1);
    top: 4rem;
    left: 100%;
    text-align: center;
    padding: 2em;
  }

  .nav-bar .l-menu li {
    display: block;
    justify-content: center;
    line-height: 2rem;
    padding: 2vw 3vw 2vw 3vw;
  }

  .nav-bar .l-menu li a {
    font-size: 1.5vw;
    font-weight: bold;
    padding: 2vw 3vw 2vw 3vw;
  }

  #check:checked~.l-menu {
    display: flex;
    left: 0;
  }

  .inicio h3 {
    padding-top: 0;
  }
  
  .foto img {
    width: 13vw;
  }
  
  .boton {
    border: 0.1rem solid var(--color-4);
    border-radius: 0.75rem;
    padding: 0.12rem 1rem;
  }

  .linea-separador {
    height: 0.5rem;
  }

  .separador {
    height: 0.15rem;
    width: 6rem;
    margin-top: 0.4rem;
    margin-bottom: 1em;
  }
  
}

@media screen and (max-width: 755px) and (orientation: landscape) {
  .nav-bar .l-menu li {
    padding: 1rem 0 0 0;
  }
}