@media screen and (max-width: 650px) {
  .check_b {
    display: inline-flex;
  }
  .nav-bar .l-menu {
    display: none;
    position: absolute;
    width: 100%;
    height: auto;
    background: var(--color-1);
    top: 3.13rem;
    left: 100%;
    text-align: center;
    flex-direction: column;
  }
  .nav-bar .l-menu li {
    display: block;
    justify-content: center;
    margin: 2rem 0 0 0;
    line-height: 2rem;
  }
  .nav-bar .l-menu li a {
    font-size: 1rem;
    font-weight: bold;
  }

  #check:checked ~ .l-menu {
    display: flex;
    left: 0;
  }
  .inicio h3 {
      padding-top: 0;
    }
  .inicio p {
    width: 18rem;
    font-size: 0.7rem;
  } 
  .inicio h1 {
    font-size: 1.1rem;
  }
  .social a {
    font-size: 1rem;
  }
  .boton{
    border: 0.1rem solid var(--color-4);
    border-radius: 0.75rem;
    padding: 0.12rem 1rem;
  }
  .boton .b-contact{
    font-size: 0.7rem;
  }
  .linea-separador{
      height: 0.5rem;
  }
  .info-about h2{
      font-size: 1rem;
   }
  .separador{
      height: 0.15rem;
      width: 6rem;
      margin-top: 0.4rem;
      margin-bottom: 1em;
  }
  .info-about p{
      font-size: 0.7rem;
      color: var(--color-3);
  }  
  .b2{
      margin-top: 6vh;
    }
}

@media screen and (max-width: 750px) and (orientation: landscape) {
  .nav-bar .l-menu li {
    margin: 1rem 0 0 0;
  }
}