<link href="https://fonts.googleapis.com/css?family=Ravi+Prakash" rel="stylesheet">

<body>
    <div class="contenedor">
        <div class="col-12 text-center text-dark pt-2">
            <img class="logo"
                src="http://img05.deviantart.net/cef3/i/2015/122/c/4/dragon_ball_z__dbz__nuevo_logo_by_saodvd-d8rx6aw.png">

        </div>
        <div class="row w-100 align-items-center">
            <div class="col-12 text-center  pt-2" id="btn">
                <button id="basic" type="button" mat-button (click)="ngOnInit()" routerLink="/login">
                    Empezar
                </button>
            </div>
        </div>

    </div>

</body>