
  @media screen and (max-width: 500px) {
    .inicio{
        flex-direction: column;
        align-items: center;
    }
    
    .inicio p{
        text-align: center;
        font-size: 2vw;
        width: auto;
    }
    .inicio h3 {
      font-size: 3vw;
      text-align: center;
    }
    .inicio h1 {
      font-size: 5vw;
      text-align: center;
    }
    .social{
        justify-content: center;
    }
    .social a {
      font-size: 5vw;
      margin-right: 0.4rem;
    }
    .b{
        text-align: center;
        margin-bottom: 3em;
    }
    .boton{
      border-radius: 0.6rem;
      padding: 0.3rem 1rem;
      font-size: 3vw;
    }
    .about{
        flex-direction: column-reverse;
        padding-top: 0.2em;
    }
    .n-seccion{
        font-size: 2vw;
     }
    .separador{
        height: 0.1rem;
        width: 3rem;
        margin-top: 0.2rem;
        margin-bottom: 0.4em;
    }
    .info-about p{
        font-size: 2vw;
    }  
    .about .info-about .about-content{
      padding: 0.5rem 0;
      font-size: 3vw;
    }
    .progress i{
      font-size: 1.5vw;
    }
    .skills .row-2{
      display: flex;
      align-items: center;
      padding-bottom: .7rem;
    }
    
    .skills .row-2 .habilidades{
      flex:1 1 40rem;
    }
    
    .skills .row-2 .habilidades .progress{
      padding:.8rem 0;
    }
    
    .skills .row-2 .habilidades .progress h3{
      padding:.5rem 0;
      font-size: 1.3vw;
    }
    
    .skills .row-2 .habilidades .progress .bar{
      height:2vw;
    }
    
    .skills .row-2 .habilidades .progress .bar span{
      height:2vw;
    }

    .arte .row-3{
      padding-bottom: 2rem;
    }
    
    .arte .row-3 .box-container{
      flex-direction: column;
      height: 20vw;
      width: 80vw;
    }
    
    .arte .row-3 .box-container .box{
      height: 20vw;
      padding:2rem;
    }
    
    .arte .row-3 .box-container .box h3{
      font-size: 1.1vw;
    }
    
    .arte .row-3 .box-container .box p{
      font-size: 1.1vw;
      padding-top: .5rem;
    }
    
    .servicios .box{
      padding: 0%;
    }
    .servicios .box-container{
        flex-direction: column;
        height: auto;
        width: 80vw;
    }
    .servicios .box-container .box{
        height: 20vw;
        padding:2rem;
    }
    
    .servicios .box-container .box i{
        height:3rem;
        width:3rem;
        line-height: 0.2rem;
        font-size: 4vw;
    }
    
    .servicios .box-container .box h3{
        color:black;
        font-size: 1.3vw;
        left:3rem;
    }
    
    .servicios .box-container .box p{
        color:#666;
        font-size: 1.3vw;
        padding-top: .5rem;
    }
    .portafolio .box-container{
      flex-direction: column;
    }
  }