@media screen and (max-width: 1200px) {
    .logo {
      margin-left: 1.25rem;
    }
    .nav-bar .l-menu li a {
      font-size: 0.8rem;
    }
    .inicio h3 {
      font-size: 0.9rem;
      padding-top: 7vw;
    } 
    .inicio p {
      width: 26rem;
      max-width: 31rem;
      font-size: 0.8rem;
    } 
    .inicio h1 {
      font-size: 1.6re,;
      margin: 0.9rem 0rem;
    }
    .social a {
      font-size: 1.25rem;
    }
    .boton{
      border: 0.1rem solid var(--color-4);
      border-radius: 1rem;
      padding: 0.2rem 1.6rem;
    }
    .boton .b-contact{
      font-size: 0.9rem;
    }
    .foto img{
        width: 18vw;
        height: auto;
    }
  }
  
  @media screen and (max-width: 750px) {
    .check_b {
      display: inline-flex;
    }
    .nav-bar .l-menu {
      display: none;
      position: absolute;
      width: 100%;
      height: auto;
      background: var(--color-1);
      top: 3.13rem;
      left: 100%;
      text-align: center;
      flex-direction: column;
    }
    .nav-bar .l-menu li {
      display: block;
      justify-content: center;
      margin: 2rem 0 0 0;
      line-height: 2rem;
    }
    .nav-bar .l-menu li a {
      font-size: 1rem;
      font-weight: bold;
    }
  
    #check:checked ~ .l-menu {
      display: flex;
      left: 0;
    }
    .inicio h3 {
        padding-top: 0;
      }
    .inicio p {
      width: 18rem;
      font-size: 0.7rem;
    } 
    .inicio h1 {
      font-size: 1.1rem;
    }
    .social a {
      font-size: 1rem;
    }
    .boton{
      border: 0.1rem solid var(--color-4);
      border-radius: 0.75rem;
      padding: 0.12rem 1rem;
    }
    .boton .b-contact{
      font-size: 0.7rem;
    }
    .foto img{
        width: 18vw;
        height: auto;
    }
    .about img{
        width: 25vw;
      }
    .info-about h2{
        font-size: 1rem;
     }
    .separador{
        height: 0.15rem;
        width: 6rem;
        margin-top: 0.4rem;
        margin-bottom: 1em;
    }
    .info-about p{
        font-size: 0.7rem;
        color: var(--color-3);
    }  
    .b2{
        margin-top: 6vh;
      }
  }
  
  @media screen and (max-width: 750px) and (orientation: landscape) {
    .nav-bar .l-menu li {
      margin: 1rem 0 0 0;
    }
  }
  

  @media screen and (max-width: 500px) {
    .inicio{
        flex-direction: column;
        align-items: center;
    }
    
    .inicio p{
        text-align: center;
        font-size: 2vw;
        width: auto;
    }
    .inicio h3 {
      font-size: 3vw;
      text-align: center;
    }
    .inicio h1 {
      font-size: 5vw;
      text-align: center;
    }
    .social{
        justify-content: center;
    }
    .social a {
      font-size: 5vw;
      margin-right: 0.4rem;
    }
    .b{
        text-align: center;
        margin-bottom: 3em;
    }
    .boton{
      border-radius: 0.6rem;
      padding: 0.3rem 1rem;
      font-size: 3vw;
    }
    .about{
        flex-direction: column-reverse;
    }
    .info-about h2{
        font-size: 2VW;
     }
    .separador{
        height: 0.1rem;
        width: 3rem;
        margin-top: 0.2rem;
        margin-bottom: 0.4em;
    }
    .info-about p{
        font-size: 2vw;
    }  
  }