@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,500;1,800&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    outline: none;
}
body{
    font-family: 'Bree Serif', serif;
    margin: 0%;
    background-color: #000706;
}
/* Estilos de la Barra de navegación */
header{
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    background-color: #00B89F;
    align-items: center;
    padding: 10px;
}

nav{
    height: 50px;
    width: 100%;
    background-color: #00B89F;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    position: absolute;
    padding: 20px 20px;
}

.logotipo{
    height: 75px;
}

nav ul{
    display: flex;
    float: right;
    margin: 20px;
}

nav ul li{
    line-height:-40px;
    border-radius: 3px ;
    float: right;
}

nav ul li a{
    color: #F3FFFD;
    font-size: 18px;
    font-weight: 500;
    padding: 0px 20px;
    border-radius: 3px;
    display: block;
}

li a:hover{
    background: #F3FFFD;
    color: #B84300;
    transition: .5s;
}

.check_b{
    display: none;
    font-size: 18px;
    font-weight: 500;
    color: #B84300;
    float: right;
    line-height: 85px;
    margin-top: 15px;
    margin-right: 20px;
    cursor: pointer;
}

#check{
    display: none;
}
/* Fin de estilos de barra de navegación */

.inicio{
    color: #F3FFFD;
    padding-top: 190px;
    margin-bottom: 40px;
    margin-left: 150px;
}

.inicio .contenedor-inicio h3{
    font-size: 18px;
    font-weight: 200;
}

.inicio .contenedor-inicio p{
    width: 540px;
    max-width: 900px;
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 10px;
}

.inicio .contenedor-inicio h1{
    font-size: 30px;
    font-weight: 800;
    line-height: 1.2;
    margin: 20px 0px;
}

.inicio .contenedor-inicio h1 span{
    color: #B80075;
}

.social a{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    margin-right: 20px;
    color:#00B89F;
    height: 50px;
    width: 50px;
}

@media(max-width: 950px){
    .logo{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 13px;
    }
}

@media screen and (max-width: 850px){ 
    .check_b{
        display: inline-flex;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: calc(100%-50px);
        background: #00b8a06b;
        top: 50px;
        left: 100%;
        text-align: center;
        flex-direction: column;
    }
    nav ul li{
        display: block;
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 16px;
        font-weight: bold;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

@media screen and (max-width: 850px) and (orientation: landscape) {
    nav ul li{
        margin: 15px 0 0 0;
    }
}